Repository peter-wd-1/nodents-bolierplate, changes with the labels that .github/labeler.yml gives for each.
All labels: circleci, gitlab, github, test, lint, config, env, git, build, editor, src

.github/labeler.yml:

circleci:
  - .circleci/**/*

gitlab:
  - .gitlab-ci.yml

github:
  - .github/**/*

test:
  - test/**/*
  - jest.config.js
  - .codecov.yml

lint:
  - .eslint*
  - .prettier*
  - .markdownlint*
  - .editorconfig
  - commitlint*

config:
  - tsconfig.json
  - .nvmrc

env:
  - .env.*

git:
  - .gitignore
  - .gitattributes
  - .gitmodules

build:
  - package.json
  - yarn.lock
  - package-lock.json

editor:
  - .prettier.mjs
  - .indium.json

src:
  - src/**/*

mk dist folder when install
  package.json
Labels: build

rm git action upload codecov
  .github/workflows/nodejs.yml
  .gitlab-ci.yml
Labels: gitlab, github

upgrade all packages latest
  package.json
  src/ad/adt/adder.ts
  src/index.ts
  yarn.lock
Labels: build, src

add more packages
  package.json
  yarn.lock
Labels: build

add more lint test
  .eslintrc.cjs
  src/index.ts
Labels: lint, src
